---
---

  {% include head.html %}

  <body>
    {% include tabs.html %}
    <!-- Carousel
    ================================================== -->
    {% include carousel.html %}
    <!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="../img/me.jpg" alt="Generic placeholder image" width="160" height="160">
                <h3>ABOUT ME</h3>
                <p><a class="btn btn-default" href="#about" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="../img/research.jpg" alt="Generic placeholder image" width="160" height="160">
                <h3>RESEARCH</h3>
                <p><a class="btn btn-default" href="#research" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="../img/pub.jpg" alt="Generic placeholder image" width="160" height="160">
                <h3>PUBLICATION</h3>
                <p><a class="btn btn-default" href="#publication" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="../img/code.png" alt="Generic placeholder image" width="160" height="160">
                <h3>CODE</h3>
                <p><a class="btn btn-default" href="#code" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                <img class="img-circle" src="../img/vedio.jpg" alt="Generic placeholder image" width="160" height="160">
                <h3>VEDIO</h3>
                <p><a class="btn btn-default" href="#video" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="../img/people.jpg" alt="Generic placeholder image" width="160" height="160">
                <h3>PEOPLE</h3>
                <p><a class="btn btn-default" href="#people" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div id="about">
          <div class="row featurette">                  
              <div class="col-lg-12 text-center">
                      <h1 class="section-heading">About me</h1>
                      <h4 class="section-subheading text-muted">I have a strong interest in... I approach the problems by analyzing big data outputs from general circulation models, idealized numerical simulations and satellite observations.</p>
                      <br />
                      <br />
              </div>
          </div>
      
          </div class="container">
              <div class=""row featurette"">
                  <div class="col-lg-8">
                      <h3 class="section-heading">Education</h3>
                      <p class="lead-dark lead"> <b>Ph.D. - Physical Oceanography</b><br><b>Zhejiang University, China<br>2016 - 2020
                      </p>
                      <p class="lead-dark lead"> <b>M.S. - Physical Oceanography</b><br>South China Sea Institute of Oceanology, Chinese Academy of Sciences, China<br>2013 - 2016
                      </p>
                      <p class="lead-dark lead"> <b>B.S. - Marine Technology</b><br>Huaihai Institute of Technology, China<br>2009 - 2013
                      </p>
                  </div>
              <div class="col-md-4">
                      <br />
                      <br />
                      <img src="../img/me2.jpg" alt="" width="320" height="320">
              </div>
          </div>
      </div>
    </div>

     <hr class="featurette-divider">
      <div id="research">
        <div class="row featurette">
          <div class="col-lg-12 text-center">
            <h2 class="featurette-heading">Research</h2>
            <p class="lead">
 
          </div>
        </div>
      </div>
                                                                                                                                                                                                                                                                                                
      <hr class="featurette-divider">
      <div id="publication">
        <div class="row featurette">
          <div class="col-lg-12 text-center">
            <h2 class="featurette-heading">Publication</h2>
            <p class="lead">
 
          </div>
        </div>
      </div>
                           
      <hr class="featurette-divider">
      <div id="code">
        <div class="row featurette">
          <div class="col-lg-12 text-center">
            <h2 class="featurette-heading">CODE</h2>
            <p class="lead">
 
          </div>
        </div>
      </div>

      <hr class="featurette-divider">
      <div id="video">
        <div class="row featurette">
          <div class="col-md-12">
            <h2 class="featurette-heading">VIDEO</h2>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../img/beer.png" alt="Generic placeholder image" width="400" height="400">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <div id="contact" class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Tongya Liu</strong></h4>
                    <p>1113 SOED SIO<br>36 Baochu North Road<br>Zhejiang Province<br>China</p>

                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:liutongya@sio.org.cn">liutongya@sio.org.cn</a>
                    </ul>


                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/roxyboy"><i class="fa fa-github-square fa-fw fa-2x"></i></a>
                        </li>
                    </ul>

                    <br>

                </div>
            </div>
        </div>

      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
