    <div class="navbar-wrapper">
      <div class="container">

<!--         <nav class="navbar navbar-inverse navbar-static-top"> -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">An Oceanographer</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#me">ME</a></li>
                <li><a href="#research">RESEARCH</a></li>
                <li><a href="#publication">PUBLICATION</a></li>
                <li><a href="#code">CODE</a></li>
                <li><a href="#vedio">VEDIO</a></li>
                <li><a href="#contact">CONTACT</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
